<?xml version='1.0' encoding='utf-8'?>
<widget id="com.betflag.casino" version="1.1.9" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Betflagcasino</name>
    <description>
        Applicazione Casinò
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Betflag Casinò
    </author>
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="StatusBarOverlaysWebView"   value="true" />

    <content src="index.html" />

	<plugin name="cordova-plugin-whitelist" spec="1" />
  <plugin name="cordova-plugin-disable-ios11-statusbar" source="npm"/>
  <plugin name="cordova-plugin-statusbar" source="npm"/>

  <plugin name="cordova-plugin-inappbrowser" source="npm">
  <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.InAppBrowser" />
  </feature>
  <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
  </feature>
  </plugin>

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" />
    <icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
	  <icon src="res/icon/ios/icon-60.png"            gap:platform="ios"        width="60" height="60" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
	  <icon src="res/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
	  <icon src="res/icon/ios/icon-60-2x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
  	<icon src="res/icon/ios/icon-76-2x.png"         gap:platform="ios"        width="152" height="152" />
  	<icon src="res/icon/ios/icon-40-3x.png"         gap:platform="ios"        width="120" height="120" />
  	<icon src="res/icon/ios/icon-40.png"            gap:platform="ios"        width="40" height="40" />
    <icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />

	<access origin="*" />
	<allow-navigation href="https://m.betflag.it/" />

	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />
</widget>
